version: "3.9"

services:

  otc-prometheus-exporter:
    build: .
    ports:
      - "$PORT:$PORT"

    environment:
      NAMESPACES: "$NAMESPACES"
      PORT: "$PORT"
      OS_USERNAME: "$OS_USERNAME"
      OS_PASSWORD: "$OS_PASSWORD"
      OS_PROJECT_ID: "$OS_PROJECT_ID"
      OS_DOMAIN_NAME: "$OS_DOMAIN_NAME"
      FETCH_RESOURCE_ID_TO_NAME: "$FETCH_RESOURCE_ID_TO_NAME"
      LOGGING: "$LOGGING"

  prometheus:
    image: "prom/prometheus:latest"
    ports:
      - "9090:9090"
    command:
       - '--config.file=/tmp/prometheus/prometheus.yaml'
    volumes:
      - "./docker.local/prometheus:/tmp/prometheus"

  grafana:
    image: "grafana/grafana:latest"
    ports:
      - "3000:3000"
    volumes:
      - "./docker.local/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources"
      - "./docker.local/grafana/data:/var/lib/grafana"
