apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "otc-prometheus-exporter.fullname" . }}
  labels:
    {{- include "otc-prometheus-exporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.deployment.replicaCount }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "otc-prometheus-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.deployment.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "otc-prometheus-exporter.selectorLabels" . | nindent 8 }}
        env-file.sha: {{ .Values.deployment.env | toYaml | sha256sum | trunc 63 }}
    spec:
      {{- if .Values.deployment.onePodForEachNode}}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: "app"
                    operator: In
                    values:
                      - {{ include "otc-prometheus-exporter.fullname" . }}
              topologyKey: "kubernetes.io/hostname"
      {{- end}}
      {{- include "images.pullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "otc-prometheus-exporter.serviceAccountName" . }}
      {{- if .Values.deployment.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.deployment.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Release.Name }}
          {{- if .Values.deployment.securityContext }}
          securityContext:
            {{- toYaml .Values.deployment.securityContext | nindent 12 }}
          {{- end }}
          image: "{{ tpl .Values.deployment.image.repository . }}:{{  default .Chart.AppVersion .Values.deployment.image.tag }}"
          imagePullPolicy: {{ .Values.deployment.image.pullPolicy }}
          envFrom:
            {{- if .Values.deployment.envFromSecret}}
            - secretRef:
                name: {{.Values.deployment.envFromSecret}}
            {{- else }}
            - secretRef:
                name: {{ include "otc-prometheus-exporter.fullname" . }}-env-secrets
            {{- end }}
          ports:
            {{- range $name,$values := .Values.deployment.ports }}
            - name: {{$name }}
              protocol: {{ ($values).protocol | default "TCP"}}
              containerPort: {{($values).port | default 80 }}
            {{- end }}
          {{- with ((.Values.deployment).health).liveness }}
          livenessProbe:
            httpGet:
              path: {{ tpl .path $ | default "/" }}
              port: {{ .port | default 80 }}
            initialDelaySeconds: {{ .initialDelaySeconds | default 20 }}
            periodSeconds: {{ .periodSeconds | default 20 }}
            failureThreshold: {{ .failureThreshold | default 5 }}
          {{- end }}
          {{- with ((.Values.deployment).health).startupProbe }}
          startupProbe:
            httpGet:
              path: {{ tpl .path $ | default "/" }}
              port: {{ .port | default 80 }}
            initialDelaySeconds: {{ .initialDelaySeconds | default 20 }}
            periodSeconds: {{ .periodSeconds | default 20 }}
            failureThreshold: {{ .failureThreshold | default 5 }}
          {{- end }}
          {{- with ((.Values.deployment).health).readiness }}
          readinessProbe:
            httpGet:
              path: {{ tpl .path $ | default "/" }}
              port: {{ .port | default 80 }}
            initialDelaySeconds: {{ .initialDelaySeconds | default 20 }}
            periodSeconds: {{ .periodSeconds | default 20 }}
            failureThreshold: {{ .failureThreshold | default 5 }}
          {{- end }}
          resources:
            {{- toYaml .Values.deployment.resources | nindent 12 }}
      {{- with .Values.deployment.volumeMounts }}
          volumeMounts:
              {{- toYaml . | nindent 12 }}
      {{- end }}
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
