kind: Service
apiVersion: v1
metadata:
  name: "{{ .Release.Name }}"
  labels:
    app: ".{{ .Release.Name }}"
spec:
  type: ClusterIP
  selector:
    app: "{{ .Release.Name }}"
  ports:
    - port: "{{ .Values.metricsPort }}"
      targetPort: "{{ .Values.metricsPort }}"
      protocol: TCP
      name: metrics
