{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- range $key, $val := .Values.serviceMonitor.labels }}
      {{ $key }}: {{ $val | quote }}
    {{- end}}
spec:
  endpoints:
  - targetPort: "{{ .Values.metricsPort }}"
    interval: "{{ .Values.waitDuration }}s"
    path: /metrics
  selector:
    matchLabels:
      app: {{ .Release.Name }}
{{- end }}
