image:
  imageRepository: "ghcr.io/iits-consulting"
  imageTag: "0.3.1"


osUsername: ""
osPassword: ""
osAccessKey: ""
osSecretKey: ""
osProjectId: ""
osDomainName: ""
namespaces: ""
metricsPort: 39100
waitDuration: 60
fetchResourceIdToName: false

serviceMonitor:
  enabled: true 
  labels:
    foo: bar
    release: kube-prom
