name: Build

permissions:
  contents: read

on:
  - pull_request
  - push

jobs:
  lint:
    name: Lint Test Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go environment
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Get dependencies
        run: go get ./...
      
      - name: Run tests
        run: go test ./...

      - name: Build
        run: go build -o otc-prometheus-exporter .
